/**********************TAG SELECTORS*****************/

body {
  background-color: #03506f;
  color: #bbbbbb;
  font-family: Garamond, sans-serif;
}

a {
  color: #ffe3d8;
}

hr {
  border-style: dotted none none none;
  border-width: 8px;
  border-color: gray;
  width: 8%;
}

h1 {
  font-family: "Trebuchet MS", Helvetica, sans-serif;
  color: #f5b461;
}

h3 {
  font-family: "Trebuchet MS", Helvetica, sans-serif;
  color: #f5b461;
}

/*******************CLASS SELECTORS********************/

.center{
  margin-left: auto;
  margin-right: auto;
}

/**********************ID SELECTORS*****************/
